
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

body{
    position: relative;
    padding-top: 100px;
}

header{
    background-color: #c0f8f8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px ;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header img {
    border-radius: 90%;
    width: 80px;
}

header ul {
    list-style:none;  
    display: flex;
    flex-direction: row; 
    box-sizing: border-box;
}

header ul a {
    text-decoration:none;
   
}

header ul li { 
    font-size: 20px;
    margin: 20px 10px 10px 10px;
    font-family: "Reddit Sans", sans-serif;  
    cursor: pointer;
    color: black;
}

header ul li:hover{
    color:rgb(188, 152, 247) ;
}

img {width: 400px;
}

#start{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    padding: 3%;
}

/* #start h1{
    font-family: caudex, serif;
    font-size: 104px;
    position: absolute;
    top: 200px;
    color: rgb(57, 45, 66);
} */

h1{
    font-family: "Reddit Sans", sans-serif;
    font-size: xx-large;
}

p{
    font-family: "Reddit Sans", sans-serif;
    font-size: xx-large;   
}

#start img{
    
    width: 1000px;
}

#dance{
    background-color: rgb(166, 148, 226);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}

.carousel-item img{
    width: auto;
  height: 400px;
}

.subdivision1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}  

.subdivision2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}  

#maternity{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding: 40px ;       
}

#maternity h1{
    color: rgb(82, 20, 153);
    text-decoration: overline;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.container img{
    width: 250px;
    border-style: double;
}